<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.sky.entity.Orders">
    <!--@Table orders-->
    <id column="id" property="id" />
    <result column="number" property="number" />
    <result column="status" property="status" />
    <result column="user_id" property="userId" />
    <result column="address_book_id" property="addressBookId" />
    <result column="order_time" property="orderTime" />
    <result column="checkout_time" property="checkoutTime" />
    <result column="pay_method" property="payMethod" />
    <result column="pay_status" property="payStatus" />
    <result column="amount" property="amount" />
    <result column="remark" property="remark" />
    <result column="phone" property="phone" />
    <result column="address" property="address" />
    <result column="user_name" property="userName" />
    <result column="consignee" property="consignee" />
    <result column="cancel_reason" property="cancelReason" />
    <result column="rejection_reason" property="rejectionReason" />
    <result column="cancel_time" property="cancelTime" />
    <result column="estimated_delivery_time" property="estimatedDeliveryTime" />
    <result column="delivery_status" property="deliveryStatus" />
    <result column="delivery_time" property="deliveryTime" />
    <result column="pack_amount" property="packAmount" />
    <result column="tableware_number" property="tablewareNumber" />
    <result column="tableware_status" property="tablewareStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `number`, `status`, user_id, address_book_id, order_time, checkout_time, pay_method, 
    pay_status, amount, remark, phone, address, user_name, consignee, cancel_reason, 
    rejection_reason, cancel_time, estimated_delivery_time, delivery_status, delivery_time, 
    pack_amount, tableware_number, tableware_status
  </sql>

<!--auto generated by MybatisCodeHelper on 2026-01-04-->
  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="number != null">
        `number`,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="addressBookId != null">
        address_book_id,
      </if>
      <if test="orderTime != null">
        order_time,
      </if>
      <if test="checkoutTime != null">
        checkout_time,
      </if>
      <if test="payMethod != null">
        pay_method,
      </if>
      <if test="payStatus != null">
        pay_status,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="consignee != null">
        consignee,
      </if>
      <if test="cancelReason != null">
        cancel_reason,
      </if>
      <if test="rejectionReason != null">
        rejection_reason,
      </if>
      <if test="cancelTime != null">
        cancel_time,
      </if>
      <if test="estimatedDeliveryTime != null">
        estimated_delivery_time,
      </if>
      <if test="deliveryStatus != null">
        delivery_status,
      </if>
      <if test="deliveryTime != null">
        delivery_time,
      </if>
      <if test="packAmount != null">
        pack_amount,
      </if>
      <if test="tablewareNumber != null">
        tableware_number,
      </if>
      <if test="tablewareStatus != null">
        tableware_status
      </if>
    </trim>
    VALUES
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="number != null">
        #{number},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="userId != null">
        #{userId},
      </if>
      <if test="addressBookId != null">
        #{addressBookId},
      </if>
      <if test="orderTime != null">
        #{orderTime},
      </if>
      <if test="checkoutTime != null">
        #{checkoutTime},
      </if>
      <if test="payMethod != null">
        #{payMethod},
      </if>
      <if test="payStatus != null">
        #{payStatus},
      </if>
      <if test="amount != null">
        #{amount},
      </if>
      <if test="remark != null">
        #{remark},
      </if>
      <if test="userName != null">
        #{userName},
      </if>
      <if test="phone != null">
        #{phone},
      </if>
      <if test="address != null">
        #{address},
      </if>
      <if test="consignee != null">
        #{consignee},
      </if>
      <if test="cancelReason != null">
        #{cancelReason},
      </if>
      <if test="rejectionReason != null">
        #{rejectionReason},
      </if>
      <if test="cancelTime != null">
        #{cancelTime},
      </if>
      <if test="estimatedDeliveryTime != null">
        #{estimatedDeliveryTime},
      </if>
      <if test="deliveryStatus != null">
        #{deliveryStatus},
      </if>
      <if test="deliveryTime != null">
        #{deliveryTime},
      </if>
      <if test="packAmount != null">
        #{packAmount},
      </if>
      <if test="tablewareNumber != null">
        #{tablewareNumber},
      </if>
      <if test="tablewareStatus != null">
        #{tablewareStatus}
      </if>
    </trim>
  </insert>

<!--auto generated by MybatisCodeHelper on 2026-01-05-->
  <select id="getByNumberAndUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from orders
    where `number`=#{number} and user_id=#{userId}
  </select>

<!--auto generated by MybatisCodeHelper on 2026-01-05-->
  <update id="update">
    update orders
    <set>
      <if test="updated.number != null">
        number = #{updated.number},
      </if>
      <if test="updated.status != null">
        status = #{updated.status},
      </if>
      <if test="updated.userId != null">
        user_id = #{updated.userId},
      </if>
      <if test="updated.addressBookId != null">
        address_book_id = #{updated.addressBookId},
      </if>
      <if test="updated.orderTime != null">
        order_time = #{updated.orderTime},
      </if>
      <if test="updated.checkoutTime != null">
        checkout_time = #{updated.checkoutTime},
      </if>
      <if test="updated.payMethod != null">
        pay_method = #{updated.payMethod},
      </if>
      <if test="updated.payStatus != null">
        pay_status = #{updated.payStatus},
      </if>
      <if test="updated.amount != null">
        amount = #{updated.amount},
      </if>
      <if test="updated.remark != null">
        remark = #{updated.remark},
      </if>
      <if test="updated.phone != null">
        phone = #{updated.phone},
      </if>
      <if test="updated.address != null">
        address = #{updated.address},
      </if>
      <if test="updated.userName != null">
        user_name = #{updated.userName},
      </if>
      <if test="updated.consignee != null">
        consignee = #{updated.consignee},
      </if>
      <if test="updated.cancelReason != null">
        cancel_reason = #{updated.cancelReason},
      </if>
      <if test="updated.rejectionReason != null">
        rejection_reason = #{updated.rejectionReason},
      </if>
      <if test="updated.cancelTime != null">
        cancel_time = #{updated.cancelTime},
      </if>
      <if test="updated.estimatedDeliveryTime != null">
        estimated_delivery_time = #{updated.estimatedDeliveryTime},
      </if>
      <if test="updated.deliveryStatus != null">
        delivery_status = #{updated.deliveryStatus},
      </if>
      <if test="updated.deliveryTime != null">
        delivery_time = #{updated.deliveryTime},
      </if>
      <if test="updated.packAmount != null">
        pack_amount = #{updated.packAmount},
      </if>
      <if test="updated.tablewareNumber != null">
        tableware_number = #{updated.tablewareNumber},
      </if>
      <if test="updated.tablewareStatus != null">
        tableware_status = #{updated.tablewareStatus},
      </if>
    </set>
    where id=#{updated.id}
  </update>

<!--auto generated by MybatisCodeHelper on 2026-01-05-->
  <select id="getById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from orders
    where id=#{id}
  </select>

  <select id="pageQuery" resultType="com.sky.entity.Orders">
    select * from orders
    <where>
      <if test="number != null and number!=''">
        and number like concat('%',#{number},'%')
      </if>
      <if test="phone != null and phone!=''">
        and phone like concat('%',#{phone},'%')
      </if>
      <if test="userId != null">
        and user_id = #{userId}
      </if>
      <if test="status != null">
        and status = #{status}
      </if>
      <if test="beginTime != null">
        and order_time &gt;= #{beginTime}
      </if>
      <if test="endTime != null">
        and order_time &lt;= #{endTime}
      </if>
    </where>
    order by order_time desc
  </select>

</mapper>